{% extends 'songs/basic.html' %}

{% load static%}

{% block css%}

{% endblock%}
{% block title%}Login{% endblock%}


{% block body%}
{% csrf_token %}
<div class="container" >
  
  <div class="container1">
    <h2>Sign IN</h2>
    <br>
    <br>
    <form  method="POST" action="/songs/login"  >
      {% csrf_token %}
      
        <div class="mb-3">
          <label for="@username" class="form-label">User Name</label>
          <input type="text" class="form-control" id="username" aria-describedby="emailHelp" name="username">
          <div id="emailHelp" class="form-text">We'll never share your username with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label" >Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="pass1">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-outline-info ">Submit</button><br><br>
        <h7>Dont have an account</h7>
        <a href="/songs/signup"  class="btn btn-outline-info ">Sign Up</a>
      </form>
    </div>
   
  </form>
    </div>

</div>

{% endblock%}